<h1><%= @user.nickname %>'s Feed</h1>

<% if @current_user == @user %>
  <%= form_for @new_tweet do |f| %>
    <%= f.text_field :body %>
    
    <%= f.submit 'Tweet it!' %>
  <% end %>
<% end %>
<% unless @current_user == @user %>
  <% if current_user.is_following? @user %>
    <%= button_to "Unfollow #{@user.nickname}", user_follow_path(@user), :method => :delete %>
  <% else %>
    <%= button_to "Follow #{@user.nickname}", user_follow_path(@user), :method => :post %>
  <% end %>
<% end %>
<% @user.tweets.each do |tweet| %>
<p>
  <%= tweet.body %>
  <br>
  -
  <%= link_to tweet.user.nickname, tweet.user %>
</p>
<% end %>

